@model Web.Models.StoreProfitModel

@{
    ViewBag.Title = "Profit By Given Store";
}


<h2>Profit For Given Store</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sale History</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group py-1">
            @*@Html.LabelFor(model => model.Stores, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StoreId, Model.Stores)
            </div>
            @if(Model.StoreProfit != null)
            {
                <div> Store Profit : @Model.StoreProfit </div>
            }
        </div>
        <div class="form-group py-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>